################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SicPro
/EntidadesClases/bin/Debug
/EntidadesClases/obj/Debug
/Logica/bin/Debug
/Logica/obj/Debug
/ManejadorMetodos/bin/Debug
/ManejadorMetodos/obj/Debug
/ManejadorMetodosSql/bin/Debug
/ManejadorMetodosSql/obj/Debug
/ManejadorModelo/bin/Debug
/ManejadorModelo/obj/Debug
/packages
/PresentacionWeb/bin
/PresentacionWeb/obj/Debug
/Common/bin/Debug
/Common/obj/Debug
/PresentacionWeb/Properties/licenses.licx
/ManejadorMetodos/.vs
/PresentacionWeb/.vs
/EntidadesClases/.vs/EntidadesClases.csproj.dtbcache.json
/PresentacionWeb/.vs/PresentacionWeb.csproj.dtbcache.json
/EntidadesClases/.vs/EntidadesClases.csproj.dtbcache.json
/PresentacionWeb/.vs/PresentacionWeb.csproj.dtbcache.json
/EntidadesClases/.vs/EntidadesClases.csproj.dtbcache.json
/EntidadesClases/.vs/EntidadesClases.csproj.dtbcache.json
/PresentacionWeb/.vs/PresentacionWeb.csproj.dtbcache.json
/PresentacionWeb/PresentacionWeb.csproj.user
/ManejadorMetodos/ManejadorMetodos.csproj.user
/PresentacionWeb/PresentacionWeb.csproj.user
/ManejadorMetodos/ManejadorMetodos.csproj.user
/PresentacionWeb/.vs/PresentacionWeb.csproj.dtbcache.json
/EntidadesClases/.vs/EntidadesClases.csproj.dtbcache.json
/Common/bin/Release
/Common/obj/Release
/EntidadesClases/bin/Release
/EntidadesClases/obj/Release
/Logica/bin/Release
/Logica/obj/Release
/ManejadorMetodos/bin/Release
/ManejadorMetodos/obj/Release
/ManejadorMetodosSql/obj/Release
/ManejadorModelo/bin/Release
/ManejadorModelo/obj/Release
/PresentacionWeb/obj/Release
/PresentacionWeb/Properties/PublishProfiles
